@font-face {
  font-family: "Proxima nova";
  src: url("/css/ProximaNova-Light.woff2");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima nova Thin";
  src: url("/css/ProximaNovaT-Thin.woff2");
  font-weight: thin;
  font-style: normal;
  font-display: swap;
}

body {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-image: url("/images/bg.jpg");
}

.bag {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-size: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -10;
}

.container_slogan {
  display: flex;
  justify-content: center;
  font-family: "Proxima nova Thin";
  font-size: 24px;
  text-align: center;
  margin-top: 100px;
  color: white;
  transition: 20s;
}

.navbar .container {

  justify-content: end;
}

.container_box {
  display: flex;
  flex-direction: column;
}

.container_flex {
  display: flex;
  margin-top: 2%;
}

.container_flex_media {
  display: none;
  margin-top: 2%;
  flex-direction: column;
}

.flex_media {
  display: flex;
  margin-bottom: 20px;
}

.container_tap {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1.2s;
  transform: rotate3d(1, 0, 0, 180deg) scale(0.01) translate(658%);
  opacity: 0;
}


.container_tap1 {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1.2s;
  transform: rotate3d(1, 0, 0, 180deg) scale(0.01) translate(258%);
  opacity: 0;
}

.container_tap2 {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1.2s;
  transform: rotate3d(1, 0, 0, 180deg) scale(0.01) translate(-228%);
  opacity: 0;

}

.container_tap3 {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1.2s;
  transform: rotate3d(1, 0, 0, 180deg) scale(0.01) translate(-728%);
  opacity: 0;
}

.container_tap4 {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1.2s;
  transform: rotate3d(1, 0, 0, 180deg) scale(0.01) translate(658%);
  opacity: 0;
}

.container_tap5 {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1.2s;
  transform: rotate3d(1, 0, 0, 180deg) scale(0.01) translate(258%);
  opacity: 0;
}

.container_tap6 {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1.2s;
  transform: rotate3d(1, 0, 0, 180deg) scale(0.01) translate(-228%);
  opacity: 0;
}

.container_tap7 {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1.2s;
  transform: rotate3d(1, 0, 0, 180deg) scale(0.01) translate(-728%);
  opacity: 0;
}

.fixed-top {
  top: 10%;
}

.container_image {
  width: 81%;
  box-shadow: 0px 35px 3px 2px rgba(0, 0, 0, .4);
}

.container_logo {
  width: 69%;
  position: absolute;
}

.anima {

  transform: scale(1.0);
  translate: none;
  opacity: 1;
}

.anima1 {

  transform: scale(.9);
  translate: none;
}

.wrapper {

  transition: .5s;
  opacity: 1;

}

.bi {
  opacity: 0;
  transition: 1s;
}

.bee {
  opacity: 0;
  transition: 1s;
}

.slogan {
  opacity: 0;

}

.slog {
  opacity: 1;
}

.logos {
  opacity: 1;
}

.container_title {
  font-family: "Proxima nova", sans-serif;
  margin-top: 18%;
  font-size: 24px;
  color: white;
  margin-left: 2.4%;
  margin-bottom: 5%;
}

.hover_ind {
  opacity: .5;
}

.footer_site {
  position: absolute;
  bottom: 20px;
  width: 100%;
  opacity: 0;
  transition: 1s;
  z-index: -1;
}

.footer_font {
  font-family: "Proxima nova", sans-serif;
  font-size: 18px;
  margin-left: 30px;
}

.footer_text {
  font-family: "Proxima nova", sans-serif;
  font-size: 18px;
  color: white;
}

.dropdown-menu {
  background: rgba(0, 0, 0, 1.0);
  border: none;

}

.dropdown-item:hover {
  background: none;
}

.link {
  color: white;
  font-family: "Proxima nova", sans-serif;
}

.link:hover {
  color: rgb(255, 168, 109);
}

.footer_marg {
  margin-left: 30px;
}

.footer_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  flex-wrap: nowrap;
}

.company {
  margin-right: 35px;
}

.footer_hash {
  margin-left: 2%;
  display: flex;
  justify-content: normal;
}

.footer_soc {
  margin-bottom: 1rem;
  margin-left: 2%;
}

.block_social {
  width: 30%;
}

.svg_widh {
  width: 968px;
}

@media (min-width: 1400px) {
  .container {
    max-width: 60%;
  }

  .container_flex_media {
    display: none;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {

  .container {
    max-width: 60%;
  }

  .container_title {
    margin-top: 23%;
  }

  .bi {
    width: 200px;
  }

  .container_flex_media {
    display: none;
  }

  .svg_widh {
    width: 583px;
  }

}

@media (min-width: 1080px) and (max-width: 1200px) {

  .container {
    max-width: 60%;
  }

  .container_title {
    margin-top: 20%;
    margin-bottom: 0;
    font-size: 20px;
  }

  .footer_font {
    font-size: 15px;
  }

  .footer_text {
    font-size: 15px;
  }

  .container_flex_media {
    display: none;
  }

  .bi {
    width: 200px;
  }

  .svg_widh {
    width: 560px;
  }

}

@media (min-width: 768px) and (max-width: 1080px) {

  .fixed-top {
    top: 2%;
  }

  .footer_hash {
    margin-left: 25%;
    justify-content: center;
  }

  .container {
    max-width: 75%;
  }

  .bi {
    width: 180px;
  }

  .container_flex {
    display: none;
  }

  .container_flex_media {
    display: flex;
  }

  .footer_site {
    position: relative;
    margin-top: 100px;
  }

  .container_title {
    margin-top: 17%;
    margin-bottom: 0;
    font-size: 18px;
  }

  .footer_font {
    font-size: 16px;
  }

  .dropdown-toggle {
    width: 35px;
  }

  .footer_text {
    font-size: 14px;
  }

  .block_social {
    width: 57%;
  }

  .footer_marg {
    margin-left: 61px;
  }

  .svg_widh {
    width: 323px;
  }

  .container_slogan {

    font-size: 18px;

  }

}

@media (min-width: 320px) and (max-width: 768px) {

  .container_flex_media {
    display: flex;
  }

  .container_flex {
    display: none;
  }

  .footer_menu {
    display: flex;
    flex-direction: column;
    align-items: self-start;
  }

  .footer_hash {

    display: block;

  }

  .footer_site {
    position: relative;
    margin-top: 100px;
  }

  .container_title {
    margin-top: 20%;
    margin-bottom: 0;
    font-size: 18px;
  }

  .fog {
    display: none;
  }

  .fixed-top {
    top: 2%;
  }

  .bi {
    width: 150px;
  }

  .company {
    margin-left: 4%;
    width: 50%;
  }

  .block_social {
    width: 75%;
  }

  .footer_text {
    margin-left: 7%;
    font-size: 12px;
  }

  .svg_widh {
    width: 190px;
  }

  .container_slogan {
    font-size: 18px;
    margin-top: 50px;
  }
}

@media (min-height: 600px) and (max-height: 1000px) {
  .footer_site {
    position: relative;
    margin-top: 100px;
  }

  .container_slogan {

    font-size: 22px;

  }

  .container_title {
    font-size: 22px;
  }
}